*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #1e1e1e;
    font-family: sans-serif;
    color: #a0a0a0;
    line-height: 1.6;
}

.main-container{
    display: grid;
    max-width: 1200px;
    grid-template-columns: 350px 1fr;
    gap: 50px;
    padding-top: 40px;
    margin: auto;

}

/* Sidebar */

.sidebar{
    background-color: #2a2a2a;
    height: fit-content; 
   /*  width: 50vh; */
    border: 1px solid #3a3a3a;
    border-radius: 25px;
    padding: 40px;
    position: sticky;
    top: 40px;
}

.main-content{
    background-color: #2a2a2a;
    border: 1px solid #3a3a3a;
    border-radius: 25px;
    padding: 40px;
}

.profile{
    text-align: center;
}

.profile img{
    width: 120px;
    height: 120px;
    border: 1px solid #3a3a3a;
    border-radius: 50%;
}

.profile h2{
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 20px;
    color: #e0e0e0;
}

.profile p{
    display: inline-block;
    margin-top: 10px;
    background-color: #1e1e1e;
    padding: 5px 15px;
    color: #ffbf00;
    border: 1px solid #3a3a3a;
    font-size: 0.8rem;
    border-radius: 8px;

}

.contact{
    margin-top: 30px;
    padding-top: 20px;
    border-top: 2px solid #3a3a3a;
}

.label{
    font-weight: 500;
    font-size: 0.8rem;
    color: #a0a0a0;
}

.value{
    color: #e0e0e0;
    text-decoration: none;
}

.email, .phone{
    margin-bottom: 15px;
}

.social{
    margin-top: 30px;
    padding-top: 20px;
    border-top: 2px solid #3a3a3a;
    text-align: center;
}

.social img{
    height: 24px;
    width: 24px;
    margin-left: 10px;
    filter: brightness(0) saturate(100%) invert(69%) sepia(1%) saturate(0%) hue-rotate(154deg) brightness(94%) contrast(89%);
    transition: filter 0.3s ease;
}

.social img:hover{
    filter: brightness(0) saturate(100%) invert(69%) sepia(1%) saturate(0%) hue-rotate(154deg) brightness(94%) contrast(89%) drop-shadow(0 0 5px #ffbf00);
}

.social a{
    text-decoration: none;
}

/* Navigation */

#navigation{
    
     border-bottom: 2px solid #3a3a3a;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

nav{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

nav a{
    text-decoration: none;
    color: #a0a0a0;
    font-weight: 500;
    transition: color 0.3s ease;
   
}

.active, nav a:hover{
    color: #ffbf00;
}

/* About Me */

.heading{
    color: #e0e0e0;
    font-size: 2rem;
    margin-bottom: 15px;
}

.line{
    width: 60px;
    height: 5px;
    background-color: #ffbf00;
    margin-bottom: 15px;

}

.content{
    color: #a0a0a0;
    text-align: justify;
}

#about{
    margin-bottom: 40px;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 30px;
}

.item{
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #3a3a3a;
    background-color: #1e1e1e;
    text-align: center;
    margin-top: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.item:hover{
    transform:scale(1.1);
    box-shadow: 0px 0px 10px 5px rgb(0, 0, 0, 0.3);
}

.item h3{
    font-size: 1rem;
    font-weight: 500;
}

.item img{
    width: 48px;
    height: 48px;
    filter: brightness(0) saturate(100%) invert(69%) sepia(69%) saturate(669%) hue-rotate(360deg) brightness(101%) contrast(100%);
    margin-bottom: 15px;
}


#education{
    margin-top: 20px;

}

.year{
    font-size: 0.9rem;
    color:#a0a0a0;
    margin-bottom: 5px;
}

.degree{
    font-size: 1.2rem;
    color: #e0e0e0;
    font-weight: 500;
    margin-bottom: 5px;
}

.university{
    font-style: italic;
    color: #a0a0a0;
    margin-bottom: 10px;
}

.learn{
    color: #a0a0a0;
}

.edtech{
    position:relative;
    margin-top: 20px;
}

.edfirst, .edsecond{
    margin-bottom: 30px;
    position: relative;
    padding-left: 25px;
}

.circle{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 3px solid #ffbf00;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 5;

}

.liner{
    position: absolute;
    width: 2px;
    top: 0px;
    bottom: 0px;
    left: 5px;
    border: 2px solid #3a3a3a;
}

#portfolio{
    margin-top: 30px;
}

.project-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    margin-top: 30px;
}

.project{
    background-color: #1e1e1e;
    border-radius: 12px;
    border: 1px solid #3a3a3a;
    overflow: hidden;
    transition: transform 0.5s ease, box-shadow 0.5s ease;

}

.project:hover{
    transform: translateY(-10px);
    box-shadow: 0px 5px 15px 5px rgb(0, 0, 0, 0.3);
}

.card{
    padding: 20px;
}

.card h3{
    color: #e0e0e0;
    margin-bottom: 10px;
}
.card p{
    color: #a0a0a0;
    line-height: 1.6;
    text-align: start;
    margin-bottom: 15px;
}

.card span{
   
    margin-right: 5px;
    background-color:rgba(255, 191,0, 0.1);
    padding: 4px 8px;
    color: #ffbf00;
    font-size: 0.75rem;
    border-radius: 5px;

}

.project img{
    height:180px;
    width: 100%;
    object-fit: cover;

}